// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap');
@import "../fonts/SVN-Poppins/stylesheet.css";
@import "../fonts/icomoon/style.css";

@import "../libs/bootstrap/css/bootstrap.css";
@import "_components/base";

// Component
@import "_components/animate";
@import "_components/header";
@import "_components/footer";
@import "_components/menu";
@import "_components/general";
// Page

@import "_pages/home";
@import "_pages/login";
@import "_pages/account";