.footer{
	position: relative;
	padding: 100px 0 50px;
	background: #D3DFED;
	font-size: 14px;
	color: #4E5764;
	a{
		color: #4E5764;
		transition: all .5s;
		&:hover{
			color: #0a85ed;
		}
	}
	&__text{
		font-weight: 500;
		font-size: 20px;
		line-height: 26px;
		color: #000000;
	}
	&__title {
	    font-weight: bold;
		font-size: 50px;
		line-height: 52px;
		color: #131F36;
	    margin-bottom: 32px;
	}
	&__item{
		margin-bottom: 60px;
	}
	.el__box{
		text-align: center;
		padding: 80px 270px;
		background:#fff;
		border-radius: 8px;
		&__title{
			font-weight: bold;
			font-size: 42px;
			text-transform: uppercase;
			color: #000;
			margin-bottom: 46px;
		}
		&__text {
		    padding: 21px 40px;
		    border-radius: 10px;
		    margin-right: 60px;
		}
		&__btn{
			flex: 0 0 auto;
		}
	}
	&__list{
		font-size: 20px;
		li{
			margin-bottom: 16px;
		}
	}

	&__logo{
		display: block;
		text-align: center;
		margin-bottom: 16px;
		img{
			width: auto;
			max-height: 200px;
		}
	}

	@media (max-width: 1399px){
		padding: 80px 0 10px;
		&__title {
		    font-size: 32px;
		    line-height: 32px;
		}
		&__text {
		    font-size: 18px;
		}
		.el__box {
		    padding: 80px 200px;
		}
		&__list {
		    font-size: 18px;
		}
	}
	@media (max-width: 1199px){

		.el__box {
		    padding: 80px 120px;
		    &__title {
			    font-size: 30px;
			}
		}
	}
	@media (max-width: 991px){
		&__text {
		    font-size: 18px;
		    text-align: center;
		}
		.el__box {
		    padding: 50px 40px;
		    &__title {
			    font-size: 26px;
			}
			&__text {
			    padding: 13px 20px;
			    margin-right: 30px;
			    font-size: 15px;
			}
		}
	}
	@media (max-width: 767px){
		padding: 40px 0 0;
		&__logo img {
		    max-height: 150px;
		}
		.el__box {
		    padding: 50px 20px;
		}
	}
	@media (max-width: 575px){

		&__title {
		    font-size: 26px;
		    margin-bottom: 16px;
		}

		&__text {
		    font-size: 16px;
		}
		&__list {
		    font-size: 16px;
		    li {
			    margin-bottom: 8px;
			}
		}
		.el__box__title {
		    font-size: 18px;
		    margin-bottom: 24px;
		}

	}
}